In [2]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import time
from selenium import webdriver

In [3]:
df_list =  []

In [4]:
# visiting the webpage
browser = Browser('chrome', executable_path='Resources/chromedriver.exe')
url = 'https://www.ebay.com'
browser.visit(url)

In [1149]:
# Capture htm
req = browser.html
soup = BeautifulSoup(req, "html.parser")

In [1150]:
date = soup.find_all( "dd", class_="info-value")
date = (date[3]).text

gross = soup.find_all( "span", class_="sh-bold")
gross = (gross[20]).text

name = soup.find_all( "span", class_="PSEUDOLINK")
name = (name[0]).text

In [1151]:
gross
#date

'$26.15'

In [1152]:
print(name, date, gross)

Warhammer Wood Elf Archers 16x Jan 1, 2024 $26.15

In [1153]:
row = []
row.append(date)
row.append(gross)
row.append(name)
df_list.append(row)

In [1154]:
#df_list.pop(23)

In [1155]:
df = pd.DataFrame(df_list, columns =["date", "revenue", "name" ])
df

             date revenue                                               name
0    Dec 24, 2023  $39.83  Warhammer Age of Sigmar Orruk Warclans Breaka-...
1    Dec 22, 2023  $24.86                            Warhammer High Elf Lord
2    Dec 20, 2023  $20.81        Warhammer Adeptus Sororitas Penitent Engine
3    Dec 19, 2023  $18.23                        Warhammer Chaos Warriors 6x
4    Dec 13, 2023  $10.58                               Mantic Skeletons 10x
..            ...     ...                                                ...
120   Jan 3, 2024  $31.97  LEGO Star Wars: 501st Legion Clone Troopers (7...
121   Jan 2, 2024  $26.43          Warhammer Mk 3 Space Marine New On Sprue
122   Jan 2, 2024  $26.34                Warhammer Leviathan Screamer Killer
123   Jan 2, 2024  $26.44      Warhammer Chaos Cultists Dark Vengeance 10x B
124   Jan 1, 2024  $26.15                     Warhammer Wood Elf Archers 16x

[125 rows x 3 columns]

In [1157]:
backup = df

In [1158]:
backup

             date revenue                                               name
0    Dec 24, 2023  $39.83  Warhammer Age of Sigmar Orruk Warclans Breaka-...
1    Dec 22, 2023  $24.86                            Warhammer High Elf Lord
2    Dec 20, 2023  $20.81        Warhammer Adeptus Sororitas Penitent Engine
3    Dec 19, 2023  $18.23                        Warhammer Chaos Warriors 6x
4    Dec 13, 2023  $10.58                               Mantic Skeletons 10x
..            ...     ...                                                ...
120   Jan 3, 2024  $31.97  LEGO Star Wars: 501st Legion Clone Troopers (7...
121   Jan 2, 2024  $26.43          Warhammer Mk 3 Space Marine New On Sprue
122   Jan 2, 2024  $26.34                Warhammer Leviathan Screamer Killer
123   Jan 2, 2024  $26.44      Warhammer Chaos Cultists Dark Vengeance 10x B
124   Jan 1, 2024  $26.15                     Warhammer Wood Elf Archers 16x

[125 rows x 3 columns]

In [1159]:
backup.to_csv("ebay_sales")